.customSelect{
padding-top: 20px;
width: 40%;
margin: auto;
}
.span{
 border-radius: 4px;
  margin-left: 10px;
  border: 1px lightgray;
  border: 1px solid whitesmoke;
}
.showlist{
  background-color: white;
 
  border-radius: 10px;
  display: flex;
  width: 100%;
  margin: auto;
  padding-top: 10px;
}
.select-item{
 margin-top: 10px;


}
.checkboxshow{
    display: flex;
  
    background-color: white;

  
    width: 100%;
    margin: auto;
 
    cursor: pointer;
   
}
.checkbox{
  border: 1px grey;
  padding-left: 20px;
  cursor: pointer;
}